<h1>Editando o Ponto</h1>

<%= render 'form' %>

    <% @images.each do |image| %>
    <p><%= "#{image}" %></p>
      <img src=<%= "#{image}" %> class="list_image" id="small_photo"/>
      <%= image_tag image %>
    <% end %>
