@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  padding-top: 60px;
}

.map_box {
  padding: 10px;
}

#small_photo {
  width: 25%;
}

.borda {
    float: left;
    margin: 5px;
    padding: 15px;
    border: 1px solid black;
}
